<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>


<body>
    {% include 'header.html' %}
    <h1>Welcome</h1>
    <h4><a href="{{url_for('scan')}}">Scan an URL</a></h4>
    <h4><a href="{{url_for('results')}}">Show existing results</a></h4>
    {% include 'footer.html' %}
  </body>
  
  </html>