<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>


<body>
    {% include 'header.html' %}
    <h1>Welcome</h1>
    <form action="{{ url_for('scan') }}" method="get">
        <h4>Scan an URL:</h4>
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Submit</button>
    </form>
    <h4><a href="{{url_for('results')}}">Show existing results</a></h4>
    {% include 'footer.html' %}
  </body>
  
  </html>